.main-showcase {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 5px 25px;
  margin: 25px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
