button {
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  border: none;
  font-weight: 550;
  transition: transform 0.03s;
}

button:hover {
  transform: scale(1.03);
}

.red-button {
  background-color: #f53725;
}

.green-button {
  background-color: #3cb371;
}
